{% extends 'base.html' %}

{% block content %}
<h1>Authentication Form</h1>
<form method="POST">
  {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for one in form %}
    <p><label class="form-label" for="{{ one.id_for_label }}">{{ one.label }}</label>{{ one }}</p>
    <div class="form-error">{{ one.errors }}</div>
    {% endfor%}
    <p><button type="submit">Confirm</button></p>

    <p><a href="{% url 'users:password_reset' %}">Forgot password?</a></p>
</form>
{% endblock %}