{% extends 'base.html' %}

{% block breadcrumbs %}
{% if perms.clubs.change_clubs %}
<p align="right"><a href="{% url 'edit-club' club.slug %}">Edit club</a></p>
{% endif %}

{% with club.tags.all as tags %}
{% if tags %}
  <ul class="tags-list">
    <li>Tags:</li>
    {% for tag in tags %}
      <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}
{% endblock %}....

{% block content %}
<h1>{{ title }}</h1>

{% if club.logo %}
  <p><img class="img-article-left" src="{{ club.logo.url }}"></p>
{% endif %}

{{ club.content|linebreaks }}
{% endblock %}