<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Main Page</a></li>
    {% for part in menu %}
    {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
        <a href="{% url part.url_name %}">{{ part.title }}</a>
    </li>
    {% endfor %}
</ul>
<h1>{{ title }}</h1>
<ul>
    {% for club in clubs %}
    {% if club.is_published %}
    <li>
        <h2>{{ club.title }}</h2>
        <p>{{ club.content }}</p>
        <p><a href="{% url 'club' club_id=club.id %}">Club info</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>